In [ ]:
import boto3
import pandas as pd
from io import StringIO

In [ ]:

AWS_ACCESS_KEY = ""
AWS_SECRET_KEY = ""
AWS_REGION=""
SCHEMA_NAME = "covid-19"
S3_STAGING_DIR= "s3://covid-19-output31/Output/"
S3_BUCKET_NAME = "covid-19-output31"
S3_OUTPUT_DIRECTORY = "Output"

In [ ]:

athena_client = boto3.client(
   "athena",
    aws_access_key_id=AWS_ACCESS_KEY, 
    aws_secret_access_key=AWS_SECRET_KEY, 
    region_name=AWS_REGION,
)

In [ ]:
Dict = {} 
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
     while True:
         try:
             
        #This function only loads the first 1000 rows 
             client.get_query_results(
                 QueryExecutionId=query_response["QueryExecutionId"]
             )
             break
         except Exception as err: 
            if "not yet finished" in str(err):                
                time.sleep(0.001)
            else:
                raise err
     temp_file_location: str = "athena_query_results.csv"
     s3_client = boto3.client(
        's3', 
         aws_access_key_id=AWS_ACCESS_KEY, 
         aws_secret_access_key=AWS_SECRET_KEY, 
         region_name=AWS_REGION,
     )
     s3_client.download_file( 
         S3_BUCKET_NAME, 
         f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv", 
         temp_file_location,
     ) 
     return pd.read_csv(temp_file_location)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM state_abv", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
response

In [ ]:
state_abv= download_and_load_query_results(athena_client, response)
state_abv.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM states_daily", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
states_daily= download_and_load_query_results(athena_client, response)
states_daily.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_county", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
us_county= download_and_load_query_results(athena_client, response)
us_county.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_daily", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
us_daily= download_and_load_query_results(athena_client, response)
us_daily.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_total_latest", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
us_total_latest = download_and_load_query_results(athena_client, response)
us_total_latest.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM states_daily", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
states_daily = download_and_load_query_results(athena_client, response)
states_daily.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM CSV", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
CSV= download_and_load_query_results(athena_client, response)
CSV.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM countypopulation", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
countypopulation = download_and_load_query_results(athena_client, response)
countypopulation.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM countrycode", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
countrycode = download_and_load_query_results(athena_client, response)
countrycode.head()

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_total_latest", 
    QueryExecutionContext={"Database": SCHEMA_NAME}, 
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
us_total_latest = download_and_load_query_results(athena_client, response)
us_total_latest.head()

In [193]:
state_abv.head()

,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN
5,20210307,CA,3501394,NaN,NaN,NaN,totalTestsViral,49646014,4291.0,NaN,...,NaN,258.0,0.0,63c5c0fd2daef2fb65150e9db486de98ed3f7b72,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:
new_header= state_abv.iloc[0]
new_header

In [ ]:
state_abv=state_abv[1:]
state_abv.head()

In [ ]:
state_abv.columns= new_header
#state_abv.coloumns=new_header
state_abv.head()

In [194]:
state_abv.head()

,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN
5,20210307,CA,3501394,NaN,NaN,NaN,totalTestsViral,49646014,4291.0,NaN,...,NaN,258.0,0.0,63c5c0fd2daef2fb65150e9db486de98ed3f7b72,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:

factCovid_1=CSV[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']] 
factCovid_2=states_daily[['fips', 'date', 'positive', 'negative', 'hospitalized','hospitalizedcurrently','hospitalizeddischarged']]
factCovid= pd.merge(factCovid_1, factCovid_2, on='fips', how="inner")

In [ ]:
factCovid.head(1000)

In [195]:
factCovid.shape

(27992, 13)

In [ ]:
dimRegion_1 = CSV[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion_2 =us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [ ]:
eds[['fips', 'state_name', 'latitude', 'longtitude', 'hq_address', 'hospital_name', 'hospital_type', 'hq_city', 'hq_state']]

In [ ]:

dimDate = states_daily [['fips', 'date']]

In [ ]:
dimDate['date'] = pd.to_datetime (dimDate['date'], format='%Y%m%d')

In [ ]:
dimDate.head()

In [ ]:
dimDate['year'] = dimDate['date'].dt.year 
dimDate['month'] = dimDate['date'].dt.month 
dimDate["day_of_week"]=dimDate ['date'].dt.dayofweek

In [ ]:
dimDate.head()

In [ ]:
bucket='covid-de-bucket01'
csv_buffer=StringIO()
csv_buffer

In [ ]:
factCovid.to_csv(csv_buffer)

In [ ]:
import boto3

s3 = boto3.resource(
    's3',
    aws_access_key_id="",
    aws_secret_access_key="",
    region_name=AWS_REGION
)

#bucket = "covid-de-bucket01"  # Replace with your bucket name
#csv_buffer =StringIO()  # Replace with your BytesIO or data buffer containing CSV data

# Uploading the CSV data to S3
try:
    s3.Object(bucket, 'factCovid.csv').put(Body=csv_buffer.getvalue())
    print("CSV file uploaded successfully!")
except Exception as e:
    print("An error occurred:", e)

In [ ]:
dimRegion.to_csv(csv_buffer)

In [ ]:
import boto3

s3 = boto3.resource(
    's3',
    aws_access_key_id="",
    aws_secret_access_key="",
    region_name=AWS_REGION
)

#bucket = "covid-de-bucket01"  # Replace with your bucket name
#csv_buffer =StringIO()  # Replace with your BytesIO or data buffer containing CSV data

# Uploading the CSV data to S3
try:
    s3.Object(bucket, 'dimRegion.csv').put(Body=csv_buffer.getvalue())
    print("CSV file uploaded successfully!")
except Exception as e:
    print("An error occurred:", e)

In [ ]:
dimDate.to_csv(csv_buffer)

In [ ]:
import boto3

s3 = boto3.resource(
    's3',
    aws_access_key_id="",
    aws_secret_access_key="",
    region_name=AWS_REGION
)

#bucket = "covid-de-bucket01"  # Replace with your bucket name
#csv_buffer =StringIO()  # Replace with your BytesIO or data buffer containing CSV data

# Uploading the CSV data to S3
try:
    s3.Object(bucket, 'dimDate.csv').put(Body=csv_buffer.getvalue())
    print("CSV file uploaded successfully!")
except Exception as e:
    print("An error occurred:", e)

In [ ]:
eds.to_csv(csv_buffer)

In [192]:
import boto3

s3 = boto3.resource(
    's3',
    aws_access_key_id="",
    aws_secret_access_key="",
    region_name=AWS_REGION
)

#bucket = "covid-de-bucket01"  # Replace with your bucket name
#csv_buffer =StringIO()  # Replace with your BytesIO or data buffer containing CSV data

# Uploading the CSV data to S3
try:
    s3.Object(bucket, 'eds.csv').put(Body=csv_buffer.getvalue())
    print("CSV file uploaded successfully!")
except Exception as e:
    print("An error occurred:", e)

CSV file uploaded successfully!

In [187]:
import redshift_connector

In [ ]:
conn = redshift_connector.connect(
    host='redshift-cluster-2.ca28nsagiovy.ap-south-1.redshift.amazonaws.com:5439/dev',
   
    user='nishant-dev1',
    database='dev',
    password='Ujjain@7816',
    port=5439
)
    #port=5439

In [ ]:
dimDatesql=pd.io.sql.get_schema (dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

In [ ]:
factcovidsql=pd.io.sql.get_schema (dimDate.reset_index(), 'factcovid')
print(''.join(dimDatesql))

In [ ]:
dimRegionsql=pd.io.sql.get_schema (dimDate.reset_index(), 'dimRegion')
print(''.join(dimDatesql))